body {
  background-color: #36485e;
}
.container {
  padding-top: 1%;
}
.patient-form-card {
  padding: 2rem;
}
.row {
  margin: 0 !important;
}
.contact-super-card-header {
  margin: 1rem 0;
}
.add-contact-content-row {
  width: 100%;
}
.contact-card {
  width: 100%;
  margin: 1rem;
}
.contact-form-group {
  width: 95%;
}

.add-contact-btn-row {
  padding: 1rem;
}

#cAddress {
  height: 10rem;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  border-color: #ced4da;
  background-image: url("");
}

.segment-col {
  padding: 0px;
}

.segment-button {
  width: calc(100% - 10px);
  margin: 5px;
  background-color: #36485e;
  color: #ffffff;
}

.add-hospital-btn {
  margin: 1rem;
}
#stock-card {
  margin-top: 1rem;
}

.add-stock-submit {
  margin: 1rem;
}
.edit-stock-form {
  margin: 1rem;
}

.hospital-get-row {
  padding: 1.5rem;
}

.stock-add-card {
  padding: 1rem;
}

.landing-page-card-img {
  max-width: none;
  width: 100%;
}

.option-card {
  margin: 1rem;
}

/* sidenav */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.hospital-id-title {
  margin: 1rem;
}

.hospital-details {
  margin: 1rem 0;
  padding: 1rem;
}
