<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
  <title>Report a suspect</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
          rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-z3vU0XkkvDo7lP6VS65bmwB1T867YG8&v=3.exp&libraries=places,geometry&sensor=false"
          async
          defer
  ></script>
  <style>
    body {
      background-color: #36485e;
    }
    .top-row {
      margin: 0 !important;
    }
    .report-main-row {
      margin: 0 !important;
    }
    .report-card {
      width: 100%;
    }
    .container {
      padding-top: 1%;
    }
    .card-inner-row {
      padding: 2rem;
    }
    .row-inner-col-1 {
      border-right: 1px solid #36485e;
    }
    .form-control.is-invalid,
    .was-validated .form-control:invalid {
      border-color: #ced4da;
      background-image: url("");
    }
    .submit-btn-row {
      padding: 1rem;
    }
    .btn-success {
      width: 16%;
      margin-left: 42%;
    }
    .segment-button {
      width: 100%;
    }
    .track-card {
      width: 100%;
    }
    .top-col {
      padding: 0 2px;
    }
    .card-inner-row {
      padding: 2rem;
    }
    .form-control.is-invalid,
    .was-validated .form-control:invalid {
      border-color: #ced4da;
      background-image: url("");
    }
    .submit-btn-row {
      padding: 1rem;
    }
    .btn-success {
      width: 16%;
      margin-left: 33%;
    }
    #loader {
      margin-left: 47%;
    }
    .data-card {
      margin: 1rem;
    }
    .btn {
      background-color: blue;
      color: white;
    }
    .btn-track {
      width: 30%;
      margin-left: 33%;
    }
    #map_canvas {
      height: 400px; /* The height is 400 pixels */
      width: 100%; /* The width is the width of the web page */
    }
    .current-address-row {
      margin: 0 !important;
    }
    .multi-location-card {
      width: fit-content;
      padding: 3px;
      margin: 2px;
    }
    .remove-loc {
      margin: 2px;
    }
    .close-btn {
      margin-top: -5px;
    }
    .multi-locs-row {
      margin: 0px;
    }
  </style>
</head>
<body>
<div class="container">
  <div class="card super-card">
    <div class="row top-row">
      <div class="col-md-6 col-sm-6 col-xs-3 top-col">
        <button
                class="btn  report-button segment-button"
                id="report-button"
        >
          Report
        </button>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-3 top-col">
        <button class="btn track-button segment-button" id="track-button">
          Track
        </button>
      </div>
    </div>
    <div class="row report-main-row">
      <div class="card report-card">
        <form
                th:action="@{/report}"
                th:object="${reportDto}"
                method="post"
                class="was-validated"
                style="width: 100%"
        >
          <div class="row card-inner-row">
            <div class="col-md-6 reporter-col">
              <div class="form-group">
                <label for="sName">Name: </label>
                <input
                        type="text"
                        class="form-control"
                        id="sName"
                        placeholder="Enter name"
                        name="suspectName"
                        required
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="sGender">Gender: <b>*</b></label>
                <select
                        class="form-control"
                        id="sGender"
                        name="suspectGender"
                >
                  <option>MALE</option>
                  <option>FEMALE</option>
                  <option>OTHER</option>
                </select>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="sPhone">Phone number: <b>*</b></label>
                <input
                        type="number"
                        class="form-control"
                        id="sPhone"
                        placeholder="Enter phonenumber"
                        name="suspectPhoneNumber"
                        required
                />
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="sRemarks">Remarks: <b>*</b></label>
                <textarea
                        type="textarea"
                        class="form-control"
                        id="sRemarks"
                        placeholder="Enter remarks"
                        name="remarks"
                        required
                ></textarea>
                <!--<div class="valid-feedback">Valid.</div>-->
                <!--<div class="invalid-feedback">Please fill out this field.</div>-->
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6">
                  <div class="row current-address-row">
                    <button
                            type="button"
                            class="btn btn-primary modal-activate-button"
                            data-toggle="modal"
                            data-target="#myModal"
                    >
                      Enter current location
                    </button>
                  </div>
                  <div class="row current-address-row">
                    <div
                            class="form-group curAddress-form-group"
                            style="width: 100%"
                    >
                      <label for="curAddress">Address:</label>
                      <textarea
                              type="text"
                              class="form-control"
                              id="curAddress"
                              name="suspectAddress"
                              readonly
                      ></textarea>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row past-address-row">
                    <button
                            type="button"
                            class="btn btn-primary modal-activate-past"
                            data-toggle="modal"
                            data-target="#myModal"
                    >
                      Enter past visited locations
                    </button>
                  </div>
                  <div class="row current-address-row">
                    <div
                            class="form-group pastAddress-form-group"
                            style="width: 100%"
                    >
                      <label for="pastAddress">Places visited:</label>
                      <textarea
                              type="text"
                              class="form-control"
                              id="pastAddress"
                              name="address"
                              readonly
                      ></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- The Modal -->
          <div class="modal" id="myModal" style="z-index: 1111 !important">
            <div class="modal-dialog">
              <div class="modal-content">
                <!-- Modal body -->
                <div class="modal-body">
                  <div class="col-md-12">
                    <div class="control-group">
                      <div class="form-group">
                        <label class="control-label" for="keyword"
                        >Enter current location :</label
                        >
                        <div class="form-group">
                          <input
                                  type="hidden"
                                  class="form-control"
                                  id="multi-location-input"
                                  name="visitedPLaces"
                                  data-role="tagsinput"
                          />
                        </div>
                        <div class="form-group">
                          <div class="locations">
                            <div
                                    class="row multi-location-row"
                                    style="margin: 0 !important"
                            ></div>
                          </div>
                        </div>
                        <div class="form-group">
                          <input
                                  type="hidden"
                                  class="form-control"
                                  id="latitude"
                                  name="suspectLocationLatitude"
                                  readonly
                          />
                        </div>
                        <div class="form-group">
                          <input
                                  type="hidden"
                                  class="form-control"
                                  id="longitude"
                                  name="suspectLocationLongitude"
                                  readonly
                          />
                        </div>
                        <div class="controls">
                          <input
                                  type="text"
                                  class="span6"
                                  name="keyword"
                                  id="keyword"
                                  style="width: 100%"
                          />
                        </div>
                      </div>
                    </div>
                    <div id="map_canvas"></div>
                  </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                  <button
                          type="button"
                          class="btn btn-danger"
                          data-dismiss="modal"
                          id="saveLocation"
                  >
                    Save
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="row submit-btn-row">
            <button
                    type="submit"
                    class="btn btn-success"
                    style="width: 30%"
            >
              Report
            </button>
          </div>
        </form>
      </div>
    </div>

    <div class="row track-main-row">
      <div class="container">
        <div class="card">
          <form
                  id="filesfrm"
                  method="post"
                  class="was-validated"
                  style="width: 100%"
          >
            <div class="row card-inner-row">
              <div class="col-md-12 reporter-col">
                <div class="card-header">Track Application</div>
                <div class="form-group" style="margin-top: 1rem">
                  <label for="email">Application Id: </label>
                  <input
                          type="text"
                          class="form-control"
                          id="appId"
                          placeholder="Enter application id"
                          name="appId"
                          required
                  />
                  <!--<div class="valid-feedback">Valid.</div>-->
                  <!--<div class="invalid-feedback">Please fill out this field.</div>-->
                </div>
              </div>
            </div>
            <div class="row submit-btn-row">
              <button type="button" class="btn btn-success btn-track">
                Track
              </button>
              <img
                      src="/images/Rolling-1s-200px.svg"
                      id="loader"
                      style="max-width: none; width:2rem;"
              />
            </div>
          </form>
          <div class="card data-card">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Id</th>
                <th>Status</th>
                <th>Report Date</th>
                <th>Update Date</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td id="id"></td>
                <td id="status"></td>
                <td id="reportedOn"></td>
                <td id="updatedOn"></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<script>
  let multiLocArray = [];
  let locations = [];
  let ids = [];
  let multSelect = false;
  $(document).ready(function() {
    $(".track-main-row").hide();
    $(".locations").hide();
    $(".curAddress-form-group").hide();
    $(".pastAddress-form-group").hide();

    $(".track-button").css("background-color", "#cccccc");
    $(this).css("background-color", "blue");
    $("#same-person-checkbox").click(function() {
      if ($(this).is(":checked")) {
        $(".reporter-col").hide();
        document.getElementById("col-1").style.maxWidth = "100%";
        document.getElementById("col-1").style.flex = "0 0 100%";
        document.getElementById("col-1").style.borderRight = "none";
      } else {
        document.getElementById("col-1").style.maxWidth = "50%";
        document.getElementById("col-1").style.flex = "0 0 50%";
        document.getElementById("col-1").style.borderRight =
                "1px solid #36485e";

        $(".reporter-col").fadeIn(200);
      }
    });
    $(".data-card").hide();
    $("#loader").hide();

    $("#report-button").click(function() {
      $(".track-button").css("background-color", "#cccccc");
      $(this).css("background-color", "blue");
      $(".track-main-row").hide();
      $(".report-main-row").fadeIn(200);
    });
    $("#track-button").click(function() {
      $(".report-button").css("background-color", "#cccccc");
      $(this).css("background-color", "blue");
      $(".track-main-row").fadeIn(200);
      $(".report-main-row").hide();
    });
    $(".btn-track").click(function() {
      $(".data-card").hide();
      let id = $("#appId").val();
      if (!id) {
        alert("Please enter the application number");
      } else {
        $("#loader").show();
        $(this).hide();

        $.ajax({
          type: "POST",
          url: "/status/" + id,
          success: data => {
            $("#loader").hide();
            $(this).show();
            if (data) {
              $("#id").text(data.id);
              $("#status").text(data.status);
              $("#reportedOn").text(
                      new Date(data.createdOn).toLocaleString()
              );
              $("#updatedOn").text(
                      new Date(data.modifiedOn).toLocaleString()
              );
              $(".data-card").show();
            } else {
              alert("Application id does not exist");
            }
          },
          error: err => {
            $("#loader").hide();
            $(this).show();
            alert(
                    "Some unexpected error occurred. Please try after sometime"
            );
            console.log(err);
          }
        });
      }
    });
    let curLat = 0.0;
    let curLng = 0.0;
    var map;

    function initMap(lat, lng, ele) {
      $("#latitude").val(lat.toFixed(7));
      $("#longitude").val(lng.toFixed(7));
      curLat = lat.toFixed(7);
      curLng = lng.toFixed(7);
      var map_options = {
        center: new google.maps.LatLng(lat, lng),
        zoom: 11,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };

      map = new google.maps.Map(document.getElementById(ele), map_options);

      var input = document.getElementById("keyword");
      var autocomplete = new google.maps.places.Autocomplete(input);
      autocomplete.bindTo("bounds", map);

      var marker = new google.maps.Marker({
        map: map,
        position: { lat: lat, lng: lng }
      });

      google.maps.event.addListener(
              autocomplete,
              "place_changed",
              function() {
                var place = autocomplete.getPlace();
                if (multSelect) {
                  addTag(place.address_components[0].short_name, place);
                }
                if (place.geometry.viewport) {
                  map.fitBounds(place.geometry.viewport);
                } else {
                  map.setCenter(place.geometry.location);
                  map.setZoom(15);
                }

                marker.setPosition(place.geometry.location);
              }
      );

      google.maps.event.addListener(map, "center_changed", function() {
        window.setTimeout(function() {
          var center = map.getCenter();
          marker.setPosition(center);
          console.log(center.lat(), center.lng());
          curLat = center.lat().toFixed(7);
          curLng = center.lng().toFixed(7);
          $("#latitude").val(center.lat().toFixed(7));
          $("#longitude").val(center.lng().toFixed(7));
        }, 100);
      });

      google.maps.event.addListener(map, "click", function(event) {
        marker.setPosition(event.latLng);
      });
    }

    function addTag(tag, place) {
      console.log(
              place.geometry.location.lat(),
              place.geometry.location.lng()
      );

      let id = tag.replace(" ", "");
      let ele =
              '<div class="card multi-location-card" id="card-' +
              id +
              '"><div class="row multi-locs-row"><div class="multi-locs">' +
              tag +
              '</div><div class="remove-loc"><img src="./close-icon.svg" id="' +
              id +
              '" class="close-btn" onclick="removeTag(this.id)" /></div></div></div>';
      $(".multi-location-row").append(ele);

      multiLocArray.push({
        lat: place.geometry.location.lat(),
        lng: place.geometry.location.lng(),
        id: id
      });
      ids.push(id);
    }

    function geoCode() {
      var geocoder = new google.maps.Geocoder();
      console.log(curLat, curLng);
      geocoder.geocode(
              { location: { lat: parseFloat(curLat), lng: parseFloat(curLng) } },
              function(results, status) {
                if (status === "OK" && !multSelect) {
                  $(".curAddress-form-group").show();
                  if (results[0]) {
                    console.log(results[0]);

                    $("#curAddress").val(results[0].formatted_address);
                  }
                }
              }
      );
    }
    $("#saveLocation").click(function() {

      console.log(multiLocArray, ids);
      $("#pastAddress").val(ids);
      $("#multi-location-input").val(JSON.stringify(multiLocArray));
      if (multSelect) {
        $(".pastAddress-form-group").show();
      }
      geoCode();
    });

    $(".close-btn").click(function() {
      console.log($(this).id);
    });

    $(".modal-activate-button").click(function() {
      $(".locations").hide();
      multSelect = false;
      document.getElementById("map_canvas").style.display = "block";
      if (curLat) {
        initMap(curLat, curLng, "map_canvas");
      } else {
        navigator.geolocation.getCurrentPosition(p => {
          initMap(p.coords.latitude, p.coords.longitude, "map_canvas");
        });
      }
    });
    $(".modal-activate-past").click(function() {
      $(".locations").show();
      multSelect = true;
      document.getElementById("map_canvas").style.display = "none";
      if (curLat) {
        initMap(curLat, curLng, "map_canvas");
      } else {
        navigator.geolocation.getCurrentPosition(p => {
          initMap(p.coords.latitude, p.coords.longitude, "map_canvas");
        });
      }
    });
  });
  function removeTag(id) {
    document.getElementById("card-" + id).remove();
    multiLocArray = multiLocArray.filter(i => i.id !== id);
    var index = ids.indexOf(id);

    if (index !== -1) ids.splice(index, 1);
  }
</script>
<style>
  .pac-container {
    background-color: #FFF;
    z-index: 2000000 !important;
    position: fixed;
    display: inline-block;
  }

  .modal-backdrop{
    z-index: 10;
  }​
</style>
</html>
