<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Report a suspect</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>
  <style>
    body {
      background-color: #36485e;
    }
    .container {
      padding-top: 3%;
    }
    .card-inner-row {
      padding: 2rem;
    }
    .row-inner-col-1 {
      border-right: 1px solid #36485e;
    }
    .form-control.is-invalid,
    .was-validated .form-control:invalid {
      border-color: #ced4da;
      background-image: url("");
    }
    .submit-btn-row {
      padding: 1rem;
    }
    .btn-success {
      width: 16%;
      margin-left: 42%;
    }
  </style>
  <body>
    <div class="container">
      <div class="card">
        <form style="width: 100%" autocomplete="off" action="#" th:action="@{/report}" th:object="${reportDto}" method="post" class="form-signin" role="form">
          <div class="row card-inner-row">
            <div class="col-md-6 row-inner-col-1" id="col-1">
              <div class="card-header">Reporter Details</div>
              <div class="row" style="margin-top: 1rem">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="fname">Firstname: <b>*</b></label>
                    <input
                      type="text"
                      class="form-control"
                      id="fname"
                      placeholder="Enter username"
                      name="reporterFirstname"
                      required
                    />
                    <!--<div class="valid-feedback">Valid.</div>-->
                    <!-- <div class="invalid-feedback">
                      Please fill out this field.
                    </div> -->
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="lname">Lastname: <b>*</b></label>
                    <input
                      type="text"
                      class="form-control"
                      id="lname"
                      placeholder="Enter username"
                      name="reporterLastname"
                      required
                    />
                    <!--<div class="valid-feedback">Valid.</div>-->
                    <!-- <div class="invalid-feedback">
                      Please fill out this field.
                    </div> -->
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="email">Email: <b>*</b></label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  placeholder="Enter email"
                  name="reporterEmail"
                  required
                />
                <!--<div class="valid-feedback">Valid.</div>-->
                <!--<div class="invalid-feedback">Please fill out this field.</div>-->
              </div>
              <div class="form-group">
                <label for="phone">Phone number: <b>*</b></label>
                <input
                  type="number"
                  class="form-control"
                  id="phone"
                  placeholder="Enter phone number"
                  name="reporterPhonenumber"
                  required
                />
                <!--<div class="valid-feedback">Valid.</div>-->
                <!--<div class="invalid-feedback">Please fill out this field.</div>-->
              </div>
              <div class="form-group">
                <label for="city">City: <b>*</b></label>
                <input
                  type="text"
                  class="form-control"
                  id="city"
                  placeholder="Enter city"
                  name="reporterCity"
                  required
                />
                <!--<div class="valid-feedback">Valid.</div>-->
                <!--<div class="invalid-feedback">Please fill out this field.</div>-->
              </div>

              <div class="form-group">
                <label for="zipcode">Zipcode: <b>*</b></label>
                <input
                  type="number"
                  class="form-control"
                  id="zipcode"
                  placeholder="Enter zipcode"
                  name="reporterZipcode"
                  required
                />
                <!--<div class="valid-feedback">Valid.</div>-->
                <!--<div class="invalid-feedback">Please fill out this field.</div>-->
              </div>
              <label class="checkbox-inline"><input type="checkbox" name="isForSelf" id="same-person-checkbox"><b style="margin-left: 1rem; font-weight:300">Report self</b></label>
            </div>
            <div class="col-md-6 reporter-col">
              <div class="card-header">Suspect Details</div>
              <div class="form-group" style="margin-top: 1rem">
                <label for="email">Name: </label>
                <input
                  type="text"
                  class="form-control"
                  id="sName"
                  placeholder="Enter name"
                  name="suspectName"
                  required
                />
                <!--<div class="valid-feedback">Valid.</div>-->
                <!--<div class="invalid-feedback">Please fill out this field.</div>-->
              </div>

              <div class="form-group">
                <label for="sAddress">Address: <b>*</b></label>
                <input
                  type="textarea"
                  class="form-control"
                  id="sAddress"
                  placeholder="Enter address"
                  name="suspectAddress"
                  required
                />
                <!--<div class="valid-feedback">Valid.</div>-->
                <!--<div class="invalid-feedback">Please fill out this field.</div>-->
              </div>
              <div class="form-group">
                <label for="sCity">City: <b>*</b></label>
                <input
                  type="text"
                  class="form-control"
                  id="sCity"
                  placeholder="Enter city"
                  name="suspectCity"
                  required
                />
                <!--<div class="valid-feedback">Valid.</div>-->
                <!--<div class="invalid-feedback">Please fill out this field.</div>-->
              </div>
              <div class="form-group">
                <label for="sZipcode">Zipcode: <b>*</b></label>
                <input
                  type="number"
                  class="form-control"
                  id="sZipcode"
                  placeholder="Enter zipcode"
                  name="suspectZipcode"
                  required
                />
                <!--<div class="valid-feedback">Valid.</div>-->
                <!--<div class="invalid-feedback">Please fill out this field.</div>-->
              </div>
              <div class="form-group">
                <label for="sPhone">Phone number: <b>*</b></label>
                <input
                  type="number"
                  class="form-control"
                  id="sPhone"
                  placeholder="Enter phonenumber"
                  name="suspectPhonenumber"
                  required
                />
                <!--<div class="valid-feedback">Valid.</div>-->
                <!--<div class="invalid-feedback">Please fill out this field.</div>-->
              </div>
              <div class="form-group">
                <label for="sGender">Gender: <b>*</b></label>
                <select class="form-control" id="sGender" name="suspectGender">
                  <option>MALE</option>
                  <option>FEMALE</option>
                  <option>OTHER</option>
                </select>
                <!--<div class="valid-feedback">Valid.</div>-->
                <!--<div class="invalid-feedback">Please fill out this field.</div>-->
              </div>
            </div>
          </div>
          <div class="row card-inner-row">
            <div class="input-group">
              <input class="input--style-2" type="text" placeholder="Remarks" name="remarks">
            </div>
          </div>

          <div class="row submit-btn-row">
            <button type="submit" class="btn btn-success">Report</button>
          </div>
        </form>
      </div>
    </div>
  </body>
  <script>
      $(document).ready(function(){
        $("#same-person-checkbox").click(function(){
            if($(this).is(":checked")){
                $(".reporter-col").hide()
                document.getElementById("col-1").style.maxWidth = "100%"
                document.getElementById("col-1").style.flex = "0 0 100%"
                document.getElementById("col-1").style.borderRight = "none"
            }else{
                document.getElementById("col-1").style.maxWidth = "50%"
                document.getElementById("col-1").style.flex = "0 0 50%"
                document.getElementById("col-1").style.borderRight = "1px solid #36485e"
                
                $(".reporter-col").fadeIn(200)
            }
        })
      })
  </script>
</html>
