<!DOCTYPE html>
<html lang="en">
<head>
    <title>Patient Info</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./style.css" />
</head>
<body>
<div class="container">
    <div class="card stock-form-card">
        <div class="card-header">Edit Stocks</div>
        <div class="row hospital-get-row">
            <div class="form-group" style="width:100%">

                <div class="row">
                    <div class="col-md-8">
                        <input
                                type="text"
                                class="form-control"
                                id="hId"
                                placeholder="Enter hospital id"
                                name="hId"
                                required
                        />
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-primary get-hospital">Get Details</button>
                    </div>
                </div>
            </div>
        </div>

        <form
                id="form"
                onsubmit="return submitForm();"
                class="was-validated edit-stock-form"
        >
            <div class="card stock-add-card">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="fName">Masks:</label>
                            <input
                                    type="number"
                                    class="form-control"
                                    id="fName"
                                    placeholder="Enter number of masks"
                                    name="masks"
                                    required
                            />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lName">Vaccines</label>
                            <input
                                    type="text"
                                    class="form-control"
                                    id="lName"
                                    placeholder="Enter last name"
                                    name="vaccines"
                                    required
                            />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="phone">Ventilators</label>
                            <input
                                    type="number"
                                    class="form-control"
                                    id="phone"
                                    placeholder="Enter number of ventilators"
                                    name="ventilators"
                                    required
                            />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="phone">Beds:</label>
                            <input
                                    type="number"
                                    class="form-control"
                                    id="phone"
                                    placeholder="Enter phone number"
                                    name="beds"
                                    required
                            />
                        </div>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn submit-button btn-primary" style="margin:1rem;">
                Update
            </button>
        </form>
    </div>
</div>
</body>
<script>
    let submitForm = () => {
      return false;
    };
    let contactCardCounter = 0;
    $(document).ready(() => {
      $("#form").hide()
      $(".contact-super-card-header").hide();
      $(".get-hospital").click(function() {
        console.log($("#hId").val())
        $.ajax({
          url: "/getHospital",
          method: "POST",
          data: $("#form").serializeArray(),
          success: data => {
            $("#form").fadeIn(200)
            console.log(data);
          },
          error: err => {
            alert("No hospital found by this id")

            console.log(err);
          }
        });
      });
    });
  </script>
</html>
